/*
Copyright © 2019 Dennis Schulmeister-Zimolong

E-Mail: dhbw@windows3.de
Webseite: https://www.wpvs.de/

Dieser Quellcode ist lizenziert unter einer
Creative Commons Namensnennung 4.0 International Lizenz.
*/
/* 
    Created on : 20.03.2019, 15:11:50
    Author     : Cahllagerfeld
*/

#Sign_up_Register_Button{
    margin-top: 10px;
}
